body{
    font-family: Segoe UI;
    background-color: rgb(251, 251, 241);
}
header{
    background-color: rgb(39, 1, 75);
}
h1{
    text-align: center;
    
}
.cheese{
    color: yellow;
    font-family: Georgia;
    text-transform: uppercase;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 10px;
}
nav{
    background-color: blueviolet;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
h3 {
    border: 3px dashed blueviolet;
    background-color: rgb(255, 246, 246);
    text-align: center;
    color: rgb(93, 18, 162);
}
.factz{
    border: 2px solid darkorchid;
    border-radius: 5px;
}
h2{
    text-align: center;
}
.pic{
    border: 6px double blueviolet;
    width: 400px;
}
.riv{
    text-align: center;
}
.bacteria1{
    color: rgb(10, 198, 135);
}
.bacteria2{
    color: rgb(87, 140, 246);
}
.bacteria3{
    color: rgb(255, 35, 35);
}
.cheddar{
    border: 4px dotted dodgerblue;
    border-radius: 10px;
}
.NOTcheddar{
    border: 4px dashed darkturquoise;
    border-radius: 10px;
}
.cheeese{
    width: 90px;
}
.historyy{
    border: 5px solid burlywood;
    border-radius: 10px;
}
footer{
    background-color: blueviolet;
    color: azure;
    border-radius: 10px;
    padding: 7px;
}
.button{
    background-color: rgb(249, 255, 255);
    color: black;
    border-radius: 10px;
    padding: 5px;
}
p{
    padding: 10px;
}
